@font-face {
	src: url(../font/Dornan.ttf);
	font-family: 'Dornan';
	font-weight: normal;
}

.heading h1 {
	font-size: 100px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Dornan';
}

.parag p {
		font-family: 'Dornan';
}

.parag2 p {
		font-family: 'Dornan';
}